.App {
  /* text-align: center; */
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  box-sizing: border-box;
  box-shadow: 0 1px 3px gray;
}

.nav--right {
  display: flex;
  margin-right: 0;
  align-items: center;

}

img {
  height: 30px;
}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 100%;
  margin: 6px;
}
.profile > img, h6 {
  margin: 0;
  font-size: x-small;
  color: black;
}

footer{
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  position:absolute;
  bottom:0;
  box-shadow: 1px 0px 3px gray;
}

.nav--button {
  /* border: 1px solid rgb(177, 177, 177); */
  padding: 5px 8px;
  margin-left: 10px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 2px rgb(199, 199, 199);
  background-color: #393c44;
}

.nav--button:hover{
  background-color: #26272c;
  text-decoration: none;
}

.profile-card{
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 2px rgb(199, 199, 199);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: aliceblue;
  color: #282c34;
  border-radius: 9px;
}

.projectCard{
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 2px rgb(199, 199, 199);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: aliceblue;
  color: #282c34;
  border-radius: 9px;
  min-width: 200px;
  min-height: 300px;
  max-width: 200px;
  max-height: 300px;
}

.grpProject{
  display: flex;
  align-items: center;
}