.App {
  /* text-align: center; */
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.nav--right {
  display: flex;
  margin-right: 0;
  align-items: center;

}

img {
  height: 30px;
}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 100%;
  margin: 6px;
}
.profile > img, h6 {
  margin: 0;
  font-size: x-small;
  color: black;
}

footer{
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  position:absolute;
  bottom:0;
}